.orderBlock {
  padding: 20px 0 40px;
  &__inner {
    .prevBacket {
      display: flex;
      align-items: center;
      gap: 5px;
      background: transparent;
      p {
        color: var(--Black, #222);
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      img {
        display: block;
        width: 20px;
        height: 20px;
      }
    }

    .noneFoods {
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        text-align: center;
        color: var(--Black, #222);
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .pay {
      border-bottom: 1px solid var(--Gray-Line-2, #e4e4e4);
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 16px 0px 16px 8px;
      p {
        color: var(--Black, #222);
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      span {
        color: var(--Orange, #ffc12e);
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .addOrder {
      padding: 30px 0px;
      button {
        width: 100%;
      }
    }
  }
}
.errorSendOrder,
.goodSendOrder {
  height: 100vh;
  background: #aca7a7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: var(--Black, #222);
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    padding: 0 10px;
  }
}
.goodSendOrder {
  background: #f7f7f7;
}
