.modal {

  &__inner {
    padding: 10px 0 20px 0;

    .mainBlock {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 0 10px;
      h6 {
        color: var(--Black, #222);
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
      }
      button {
        background: transparent;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
