.detailed {
  border-radius: 12px;
  background: #F7F7F7;
  margin: 24px 0px 16px;
  .slider {
    position: relative;
    // background: red;
    padding: 0 35px 0px 0;
    &__inner {
      // background: green;

      button {
        color: var(--Black, #222);
        font-family: Gilroy;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-color: transparent;
        border-radius: 8px;
        padding: 10px 12px;
        margin: 0 20px 0 0;
      }
      .active {
        background: #ffc12e !important;
        padding: 8px 12px;
      }
    }
    .nextBtn {
      position: absolute;
      width: 24px;
      height: 24px;
      transform: rotate(180deg);
      right: 5px;
      top: 50%;
      background-color: transparent;
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .popular {
    padding: 10px 0 0 5px;
    li {
      width: 200px;
    }
    select {
      border: none;
      background-color: transparent;
      color: var(--Black, #222);
      text-align: right;
      font-family: Gilroy;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}
