.sarchBlock {
  //   height: 100vh;
  padding: 40px 0 0 0;
  width: 100%;
  background-color: #f7f7f7;
  height: 100vh;
  &__inner {
    form {
      position: relative;
      input {
        width: 100%;
        height: 60px;
        border-radius: 8px;
        border: 1.5px solid var(--Orange, #ffc12e);
        background: var(--White, #fff);
        padding: 0px 200px 0 10px;
        color: var(--Black, #222);
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        // background: red;
      }
      button {
        color: var(--Black, #222);
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        height: 60px;
        width: 70px;
        border-radius: 0px 8px 8px 0px;
        background: var(--Orange, #ffc12e);
      }
      .selectInput {
        position: absolute;
        // height: 60px;
        display: flex;
        max-width: 100px;
        // overflow: hidden;
        align-items: center;
        justify-content: center;
        right: 15%;
        top: 50%;
        transform: translateY(-50%);
        @media screen and (max-width: 550px) {
          right: 18%;
        }
        @media screen and (max-width: 450px) {
          right: 22%;
        }
        @media screen and (max-width: 380px) {
          right: 24%;
        }
      }
    }
    > div {
      margin: 200px 0 0 0;
      position: relative;
    }
    i {
      display: block;
      text-align: center;
    }
  }
}
