.order {
  &__inner {
    padding: 40px 0 0 0;
  }
  &__mainData {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 0 15px 0px;
    width: 100%;
    img {
      display: block;
      width: 120px;
      height: 90px;
    }
    h4 {
      color: var(--Black, #222);
      font-family: Gilroy;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 45px;
    }
    p {
      color: var(--Black, #222);
      font-family: Gilroy;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 4px 0px;
    }
    span {
      color: var(--Gray-Text, #828282);
      font-family: Gilroy;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      padding: 16px 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 120px;
      border-radius: 8px;
      background: var(--Gray-Line-2, #e4e4e4);
      button {
        font-size: 20px;
        background: transparent;
      }
    }
    p {
      color: var(--Black, #222);
      font-family: Gilroy;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
