.historyModal {
  > p {
    color: var(--Orange, #ffc12e);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 0 0;
    > span {
      color: var(--Black, #222);
      font-family: Gilroy;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    > div {
      display: flex;
      align-items: center;
      gap: 15px;
      p {
        color: var(--Black, #222);
        font-family: Gilroy;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      i {
        color: var(--Gray-Text, #828282);
        font-family: Gilroy;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  ul {
    overflow-y: scroll;
    max-height: 540px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0px;
      gap: 12px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
      padding: 5px 0px;

      .food {
        min-width: 80px;
        height: 60px;
        > img {
          border-radius: 8px;
        }
      }
      .mainContent {
        width: 100%;
        // background: red;
        width: 60%;

        p {
          color: var(--Black, #222);
          font-family: Gilroy;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          // background: red;
          overflow: hidden;
          max-height: 40px;
          margin: 0 0 10px 0;
        }
        span {
          display: block;
          color: var(--Black, #222);
          font-family: Gilroy;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          // background: red;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          // max-width: 80%;
          // max-height: 40px;
        }
      }

      > p {
        color: var(--Black, #222);
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80px;
      }
    }
  }
  ul::-webkit-scrollbar {
    display: none;
  }
  .delivery {
    h5 {
      color: var(--Black, #222);
      font-family: Gilroy;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 0 0 20px 0;
    }
  }
  > button {
    width: 100%;
    padding: 16px 0px;
    border-radius: 8px;
    color: var(--Black, #222);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;
  }
}
