.history {
  h5 {
    color: #222;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  li {
    margin: 20px 0px;
    //   background: green;
    .viewFood {
      display: flex;
      align-items: center;
      > img {
        width: 120px;
        height: 90px;
        display: block;
      }
      > div {
        padding: 12px;
        // background: red;
        width: 100%;
        span {
          display: block;
          color: var(--Orange, #ffc12e);
          font-family: Gilroy;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        p {
          color: var(--Black, #222);
          font-family: Gilroy;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin: 5px 0px;
        }
        b {
          display: block;
          color: var(--Black, #222);
          font-family: Gilroy;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
    .moreInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 12px 0 0 0;
      p {
        color: var(--Black, #222);
        font-family: Gilroy;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
  .noneData {
    color: #222;
    font-family: Gilroy;
    padding: 200px 0px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
